*{
    padding: 0;
    margin: 0;
}


/* bar*/
.bar1{
    width: 100%;
    height: 60PX;
    background-color: tomato;  
   display: flex;
   align-items: center;
   justify-content: center;
}
.bar-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 h3{
padding: 5px 5px;
    background-color: tomato;
    color: white;
    border:5px solid white;
    border-radius: 25px;
}
/*end bar*/
/* bar image*/
.bar-img{
    width: 100%;
    height: 600px;
}
.bar-img img{
    max-width: 100%;
}
/*end bar image*/
/*nav bar*/
.container{
    width: 80%;
    margin: auto;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: rgba(190, 184, 184, 0.794);
}
.nav navlist{
    display: flex;
    align-items: center;
    }
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    color: black;
    height: 60px;
  }
li:hover{
    color: red;
    cursor: pointer;
}
/*end nav bar*/
/*page body*/

.page{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page .pb{
    width:100%;
    color: red;
    padding-bottom: 20px;
}
.page .pb2{
    width: 100%;
    height:300px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
justify-content: space-evenly;
}
.pb2 img{
    max-width: 35%;
}
.weblast{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
h1{
    color: rgba(0, 0, 0, 0.65);
padding-bottom:20px ;
text-align: center;
}
p{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
}
button{
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.596);
    padding: 20px 25px;
    border: none;
    border-radius: 25%;
    
}
/*end page body*/
/* start footer*/
.footer{
    width: 100%;
    height: 60px;
    background-color: tomato;
}
.footer p{
    color: white;
    text-align: center;
    padding-top: 20px;
}
/* end footer*/